* {
    /*font-family: OpenSansLight, OpenSans, Helvetica;
    src: url(./opensans-light-webfont.ttf);*/
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(143, 0, 172), rgb(215, 156, 255));
    gap: 50px;
}

.box[disabled] {
    background-color: rgb(58, 58, 58);
    padding: 30px;
    box-shadow: 5px 5px 1px black;
    border-radius: 5px 5px;
    cursor: default;
    color: black;
}
.box {
    background-color: rgb(255, 0, 0);
    padding: 30px;
    box-shadow: 5px 5px 1px black;
    border-radius: 5px 5px;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px black;
}

h1 {
    width: 50vw;
}

.mark {
    background-color: rgb(255, 148, 189);
    cursor: pointer;
}

#colarinicial {
    padding: 5px;
    width: fit-content;
    border: 0;
}